#footer .circulo a{
  color: white;
}
#footer a{
  color: #eaeaea;
}

#footer a:hover, #footer p:hover{
  transition: all .3s;
  color: #1db9df;
}

@media (max-width: 768px){
#footer .datos-contac p{
  text-align: center !important;
}
	#op-footer span{
		line-height: 2.5 !important;
	}
}